# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Sandeep HDD\Documents HDD\UCLL\Webontwikkeling 2 -----------\Leerinhoud\4. MVC patroon; Gebruikersinvoer met POST; web.xml\StudentPost\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
